In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

BOOKS DATA

In [2]:
df_books = pd.read_csv('Books_Data.csv', index_col=0)
df_books

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
index,,,,,,,,,,,,,,
0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.00,20496.000,4.88,1,HarperCollins Publishers,7000
1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.50,7462.500,1.99,2,HarperCollins Publishers,6250
2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.00,28677.000,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.00,24750.000,7.50,3,Hachette Book Group,5500
4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.50,22771.500,7.99,4,Penguin Group (USA) LLC,4750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,2014.0,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,2011.0,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1999.0,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

In [4]:
df_books.duplicated().sum()

0

In [5]:
df_books.isnull().sum()

Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [6]:
df_books2 = df_books.dropna()

In [9]:
df_books2['Publishing Year'].unique()

array([1975., 1987., 2015., 2008., 2011., 1994., 2012., 1905., 2004.,
       1954., 2010., 1935., 1922., 1974., 1897., 2006., 1948., 2013.,
       2000., 1993., 1981., 1891., 1856., 1961., 2003., 1986., 2005.,
       1995., 1998., 1999., 1759., 1983., 1960., 1950., 1997., 2009.,
       2002., 1849., 2007., 1967., 1968., 1959., 1605., 1980., 1901.,
       1953., 1970., 2014., 1977., 1925., 1902., 1982., 1985., 1989.,
       1991., 1880., 1956., 1390., 1852., 1909., 2001., 1972., 1958.,
       1979., 1920., 1934., 1939., 1937., 1932., 1869., 1984., 1872.,
       1996., 1603., 1949., 1929., 1992., 1947., 1971., 1976., 1988.,
       1952., 1965., 1894., 1599., -380., 1593., 1831., 1899., 1812.,
       1623., 1854., -430., 1908., 1596., 2016., 1990., 1601., 1978.,
       1945., 1941., 1906., 1930., 1955., 1973., 1938., 1916., 1871.,
       1864., 1962., 1667., 1927., 1964., 1868., 1859., 1847., 1874.,
       1918., -300., 1969., 1835., 1915., 1883., -560., 1914., 1308.,
       1881., 1966., 1933.,  -17., 1942., 1830., 1886., 1940., 1926.,
       1848., 1826., 1912., 1963., 1853., 1890., -441., 1928., 1896.,
       1957., 1911., 1879.])

In [9]:
def convertir_float_int(columna):
    try:
        numero = int(columna)
        return numero
    except:
        return np.nan

In [16]:
df_books2['Publishing Year'] = df_books2['Publishing Year'].apply(convertir_float_int)

In [17]:
df_books2['Publishing Year'].dtypes

dtype('int64')

In [ ]:
df.isnull().sum()

Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [ ]:
 df['soldBy'] = df['soldBy'].fillna('Unknown')

In [ ]:
df = df.drop('publishedDate', axis=1)

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

asin                 0
title                0
author               0
soldBy               0
imgUrl               0
productURL           0
stars                0
reviews              0
price                0
isKindleUnlimited    0
category_id          0
isBestSeller         0
isEditorsPick        0
isGoodReadsChoice    0
category_name        0
dtype: int64

In [19]:
df_books2.to_csv('books_data_clean.csv')